<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
    <style>
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    html,body{margin: 0; padding: 0}
    </style>
</head>
<body>
  <div id="map"></div>
  <script>
    var map = L.map('map').setView([12.97663, 80.21893], 10);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    maxZoom: 18,
    id: 'dinnu93.1ldei6lm',
    accessToken: 'pk.eyJ1IjoiZGlubnU5MyIsImEiOiJjaXR4enFodDIwM2o2MnNxdjE2cTJobWZpIn0.bzM5UZ9K59w_sCws8geC2Q'
    }).addTo(map);

    var geocoder = L.control.geocoder('mapzen-KXFEp1R',  {
      focus: false,
      markers: false
    }).addTo(map);

    var mapMarkerIcon = L.icon({
      iconUrl: '/static/img/icon.png',
      iconSize:     [64, 64], // size of the icon
      iconAnchor:   [33, 64], // point of the icon which will correspond to marker's location
    });

    
    var markerIcon = L.marker([12.97663, 80.21893], {icon: mapMarkerIcon, draggable: true}).addTo(map);

    geocoder.on('select', function(e){
      console.log(e.latlng);
      markerIcon.removeFrom(map);
      markerIcon = L.marker([e.latlng.lat, e.latlng.lng], {icon: mapMarkerIcon, draggable: true}).addTo(map);
      markerIcon.on("drag", function(e) {
        var markerIcon = e.target;
        var position = markerIcon.getLatLng();
        map.panTo(new L.LatLng(position.lat, position.lng));
      });
    });

    markerIcon.on("drag", function(e) {
      var markerIcon = e.target;
      var position = markerIcon.getLatLng();
      map.panTo(new L.LatLng(position.lat, position.lng));
    });
    
  </script>
</body>
</html>

