<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
    <style>
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    html,body{margin: 0; padding: 0}
    </style>
</head>
<body>
  <div id="map"></div>
  <script>
    var map = L.map('map').setView([12.97663, 80.21893], 10);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    maxZoom: 18,
    id: 'dinnu93.1ldei6lm',
    accessToken: 'pk.eyJ1IjoiZGlubnU5MyIsImEiOiJjaXR4enFodDIwM2o2MnNxdjE2cTJobWZpIn0.bzM5UZ9K59w_sCws8geC2Q'
    }).addTo(map);

    var marker = L.marker([12.97663, 80.21893], {draggable: true}).addTo(map);

    marker.on("drag", function(e) {
    var marker = e.target;
    var position = marker.getLatLng();
    map.panTo(new L.LatLng(position.lat, position.lng));
    });

    var options = {
      focus: false
    };

    L.control.geocoder('mapzen-KXFEp1R', options).addTo(map);

  </script>
</body>
</html>

